body{
    background-color: rgba(252, 252, 252, 0.363);
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
}
header{
    right: 0;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.959);
    
}

.esconde{
    display: none;
}

#logo{
    position: relative;
    padding-top: 25px;
    padding-left: 25px;
}

.menu{
    margin-top: 0px;
}

#menuinicial ul{
    float:right;
    padding:0px;
    margin:0px;
    list-style:none;
    cursor: pointer;
}

#menuinicial ul li {
    display: inline;
    position: relative; 
    float: left;
}

#menuinicial ul li a{
    color: black;
    padding: 2px 10px;
    display: inline-block;
    text-decoration: none;
    border-bottom:3px solid yellow;
    font-weight: bold;
    margin-right: 25px;
}


#objPesquisa{
    padding: 6px;
    margin:3px;
    list-style:none;
}

#objPesquisa ul li{
    display:inline-block;
}

#Acao, #Aventura, #Terror, #Comedia{
    color: red;
    background-color: #f8d5d1;
    border: 0;
    padding: 1%;
    font-weight: bold;
    border-radius: 5px;
    width: 150px;
    height:50px;
    cursor: pointer;
}

#Acao:hover, #Aventura:hover, #Terror:hover, #Comedia:hover{
    background-color: red;
    color: white;
}



#search{
    background-color:rgba(255, 255, 255, 0.171) ;
    padding:1%;
    margin: 0 180px;
    box-shadow: none;
    border: 0px ;
    border-bottom: 2px solid yellow; 
    float: right;
    width: 300px;
}

#btnPesquisa{
    background-color: rgb(246, 250, 6);
    border: none;
    cursor: pointer;
    float: right;
}

#btnPesquisa:hover{
    background-color: rgb(209, 199, 56);
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

.produto{
    margin: 5%;
}

.tituloProduto{
    background-color: tomato;
    text-align: center;
    border-radius: 10px  10px 0 0 ;
    padding: 1% 0 1% 0;
}

.infosProduto{
    background-color: rgb(245, 125, 104);
    text-align: left;
    padding: 2%;
    width: auto;
    overflow:auto;
}

.finalCaixaLanche{
    background-color: tomato;
    border-radius: 0 0 10px 10px;
}

.assinatura{
    background-color: #ce2b1fbe;
    color: rgb(252, 252, 252);
    padding-bottom: 15px;
    margin-bottom: 0;
}
.carrinho{
    position:fixed;
    z-index:999;
    left: 46%; 
    bottom: 20px;
    overflow:hidden;
    border: 0;
    padding:12px;
    border-radius: 50%;
    color:rgba(7, 3, 3, 0.966);
    background-color: rgb(253, 249, 16);
}

.carrinho:hover{
    background-color: rgb(223, 219, 219);
    color: rgb(255, 217, 0);
}

.modalLogin{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal{
    background: white;
    width: 60%;
    min-width: 250px;
    max-width: 250px;
    padding: 10px 40px 20px 40px;
    border: 10px solid rgba(250, 246, 8, 0.945);
    position: relative;
    border-radius: 4px;
}

.legendaLogin{
    margin: 10px 0 0 14px;
}

.inputLogin{
    height: 30px;
    border-bottom: rgba(255, 255, 0, 0.123);
    border: solid rgba(255, 255, 0, 0.651);
    padding: 0 2% 0 2%;
    margin: 5%;
}
.userkeyLogin{
    height: 30px;
    border-bottom: rgba(255, 255, 0, 0.123);
    border: solid rgba(255, 255, 0, 0.651);
    padding: 0 2% 0 2%;
    margin: 5%;
}

.botaoLogin{
    width: 50%;
    height: 20%;
    margin: 10px 10px 10px 16px;
    border: none;
    padding: 2%;
    border-radius: 4px;
    background-color: rgba(255, 255, 0, 0.733);
    color: rgb(48, 43, 37);
    font-weight: bolder;
    cursor: pointer;
}

.modalLogin.mostrar{
    display: flex;
}

.fechar{
    position:absolute;
    font-weight: normal;
    font-size: 1.6em;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid white;
    background: rgba(255, 255, 0, 1);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.telaCarrinho{
    width: 100%;
    height: 20%;
    position: fixed;
    bottom: 0;
    background-color: rgb(245, 245, 245);
}

.telaCarrinho{
    border: solid;
}

.telaCarrinho ul li{
    border: solid;
    list-style: none;
    display: inline;
}
.overlay {
    height: 100vh; /* deixando o overlay 100% na vertical */
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    opacity: 0; /*iniciando opacidade em 0 */
    transition: opacity 1s;
}

/* estilizando o botÃ£o abrir menu */
.menu-open{
    position:fixed;
    z-index:999;
    left: 46%; 
    bottom: 20px;
    overflow:hidden;
    border: 0;
    padding:12px;
    border-radius: 50%;
    color:rgba(7, 3, 3, 0.966);
    background-color: rgb(253, 249, 16);
}

/* estilizando o botÃ£o fechar menu */
.menucar a.menu-close {
 padding: 8px 0 4px 23px;
 color: #6B6B6B;
 display: block;
 margin: -30px 0 -10px -20px;
 font-size: 35px;
 text-decoration: none;
}

/* estilizando o menu em si */
.menucar {
 overflow: hidden;
 background: rgba(0,0,0,.95);
 padding: 40px 0 0 40px;
 position: fixed;
 top: 0;
 right: -290px; /*iniciando o menu com menos 290px para fora do browser*/
 height: 100%;
 z-index: 2;
 transition: 0.5s;
 width: 250px;
}

/* estilizando o menu + ul */
.menucar ul{
 list-style: none;
 padding: 0;
 margin: 0;
 overflow-y: auto;
 width: 500px;
 height: 95%;
}

/* estilizando o menu + ul li + a */
.menucar ul li a {
 display: block;
 border-bottom: 1px solid #131313;
 padding: 6px 4px 6px 4px;
 color: #989898;
 transition: 0.3s;
 text-decoration: none;
}

.btn button{
    color: black;
    padding: 3px 10px;
    display: inline-block;
    text-decoration: none;
    border-bottom:3px solid yellow;
    font-weight: bold;
    margin-right: 25px;
    border: none;
}

.btn button:hover{
    color: black;
    padding: 3px 10px;
    display: inline-block;
    text-decoration: none;
    border-bottom:3px solid yellow;
    font-weight: bold;
    margin-right: 25px;
    border: none;
}

.add{
    background-color:yellow;
    border: none;
    border-radius:5px;
    padding:3px 3px 2px 3px;
    margin:4px;
}

.quantidade{
    width:40px;
    margin:4px 4px 4px 10px;
    border:none;
    padding:2px;
    border-radius: 1px;
}