body{
    background-color: rgba(221, 219, 217, 0.623);
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
}
header{
    height: 80px;
}
#logo{
    position: relative;
    padding-top: 25px;
    padding-left: 25px;
}

.menu{
    margin-top: 0px;
}

#menuinicial ul{
    float:right;
    padding:0px;
    margin:0px;
    list-style:none;
}
#menuinicial ul li {
    display: inline;
    position:relative; 
    float: left;
}

#menuinicial ul li a{
    color: black;
    padding: 2px 10px;
    display: inline-block;
    text-decoration: none;
    border-bottom:3px solid yellow;
    font-weight: bold;
    margin-right: 25px;
}


#objPesquisa{
    padding: 6px;
    margin:3px;
    list-style:none;
}

#objPesquisa ul li{
    display:inline;
    
}

#Burger, #Frango, #Pernil, #Bebidas{
    color: red;
    background-color: #ffffff;
    border: 0;
    padding: 1%;
    font-weight: bold;
    border-radius: 5px;
    width: 15%;
}

#Burger:hover, #Frango:hover, #Pernil:hover, #Bebidas:hover{
    background-color: red;
    color: white;
}



#search{
    background-color:#EDEDED ;
    padding:1%;
    margin: 0px;
    box-shadow: none;
    border: 0px ;
    border-bottom: 2px solid yellow; 
    float: right;
    width: 30%;
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

.produto{
    margin: 5%;
}

.tituloProduto{
    background-color: tomato;
    text-align: center;
    border-radius: 10px  10px 0 0 ;
    padding: 1% 0 1% 0;
}

.infosProduto{
    background-color: rgb(245, 125, 104);
    text-align: left;
    padding: 2%;
    width: auto;
    overflow:auto;
}

.finalCaixaLanche{
    background-color: tomato;
    border-radius: 0 0 10px 10px;
}

.assinatura{
    background-color: #151516;
    color: turquoise;
    padding-bottom: 15px;
    margin-bottom: 0;
}
.carrinho{
    position:fixed;
    z-index:999;
    left: 46%; 
    bottom: 20px;
    overflow:hidden;
    border: 0;
    padding:12px;
    border-radius: 50%;
    color:red;
    background-color: deepskyblue;
}
