*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(241, 85, 57);
    font-family: 'Spartan', sans-serif;
}

.cabecalho{
    text-align: center;
    padding: 5% 0 0 0 ;
    color: #FFF;
}
.paicadastro{
    width: 94%;
    height: 94vh;
    background: rgb(241, 85, 57);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation-name: move;
    animation-duration: 1000ms;
        
}
@keyframes move{
    from{
        opacity: 0;
        transform: translateX(-30%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

.dados{
    width: 300px;
    height: 300px;
    padding: 20%;
    border-radius: 2%;
    background: rgb(245, 245, 245);
}

.dados ul li{
    display:block ;
    
}

.dados ul li input{
    background-color: ;
    height: 25px;
    width:  100%;
}
.finalcadastro{
    margin-top:10px;
    border-radius: 5px;
    color: red;
    border-right: 10px;
    font-weight: bold;

}


.finalcadastro:hover{
    background-color: rgba(255, 0, 0, 0.582);
    color: white;
    
}

.legenda{
    color: rgba(0, 0, 0, 0.800)
}

.form-hide {
    animation: down 1000ms forwards;
}

@keyframes down{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(100vh);
    }
}