
body{
    width: 100%;
    margin:0;
    padding: 0;
    background-color: blueviolet;
    font-family: 'Spartan', sans-serif;
}

footer{
    background-color: rgb(152, 156, 156);
}

.imagem{
    width: 20px;
    height: 20px;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

.menu{
    padding: 1%;
    list-style: none;
}

#PAGINAINTEIRA{
    width: 100%;
    height: 100%;
    display: flex;
}

@media screen and (max-width: 1000px){
    #PAGINAINTEIRA{display:block;}
    .linha{display:none;}
    #blocoCadastro{border-bottom: solid;}
}

.menu ul li{
    cursor: pointer;
    display: inline;
    padding: 10px;
    background-color: rgb(71, 26, 112);
    color: white;
}
.testeimg{
    width: 60px;
}

.formCadastro{
width: 100%;
}

#blocoCadastro{
    width: 50%;
    height: 100%;
    background-color: blueviolet;
    padding:  5% 15% 4% 15%;
    position: relative;
    float: left;
    clear: both;
}

#blocoCadastro Div{
    left: 50%;
}

#blocoCadastro label{
    padding: 0 10px 0 0;
    font-size:large;
}

#blocoCadastro input{
    width: 250px;
    height: 20px;
}

#CodigoProd label{
    padding: 0 28px 0 0;
}

#NomeReduzido label{
    padding: 0 46px 0 0;
}

#DescricaoProd label{
    padding: 0 85px 0 0;
}

#CategoriaProd label{
    padding: 0 87px 0 0;
}

#ComboCategoria{
    width: 100px;
    height: 20px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#InfoProd label{
    padding: 0 14px 0 0;
}

#InfoProd textarea{
    height: 50px;
    width: 250px;
    overflow:auto;
    box-sizing: border-box;
    resize: none;
    font-family: 'Spartan', sans-serif;
}

#Preco input::-webkit-inner-spin-button, 
#Preco input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


#blocoEntrada{
    position:relative;
    float: left;
    clear: both;
    width: 50%;
    height: 100%;
    padding: 5% 15% 5% 15%;
}

#blocoEntrada Div{
    left: 50%;
}

#blocoEntrada label{
    padding: 0 10px 0 0;
    font-size:large;
}

#blocoEntrada input{
    width: 250px;
    height: 20px;
}

#CodigoEntrada label{
    padding: 0 28px 0 0;
}

#quant-entrada input::-webkit-inner-spin-button, 
#quant-entrada input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
