*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(241, 85, 57);
    font-family: 'Spartan', sans-serif;
}

.menu{
    background-color: rgba(255, 255, 255, 0.342);
}

.menu a, button{
    float: left;
    text-decoration: none;
    color: black;
    background-color: rgba(255, 254, 254, 0.527);
    padding: 10px;
    margin: 10px 0 0 10px;
    border-radius: 10px;
}

.cabecalho{
    text-align: center;
    padding: 5% 0 0 0;
    color: #FFF;
}
.paicadastro{
    width: 94%;
    height: 94vh;
    background: rgb(241, 85, 57);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation-name: move;
    animation-duration: 1000ms;
        
}
@keyframes move{
    from{
        opacity: 0;
        transform: translateX(-30%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

.dados{
    width: 300px;
    height: 300px;
    padding: 20%;
    border-radius: 2%;
    background: rgb(245, 245, 245);
}

.dados ul li{
    display:block ;
}

.dados ul li input{
    height: 25px;
    width:  100%;
    border: none;
}
.finalcadastro{
    margin-top:10px;
    border-radius: 5px;
    color: red;
    border-right: 10px;
    font-weight: bold;
    background-color: rgba(243, 132, 104, 0.692);
    cursor: pointer;
    border: none;
}


.finalcadastro:hover{
    background-color: rgba(255, 0, 0, 0.911);
    color: white;
  
}

.legenda{
    color: rgba(0, 0, 0, 0.800)
}

.form-hide {
    animation: down 1000ms forwards;
}

@keyframes down{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(100vh);
    }
}

#EmailExistente{
    color: red;
    display: none;
}