body{
    width: 100%;
    margin:0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    background-color: blueviolet;
}

.menu{
    padding: 1%;
    list-style: none;
}
#PAGINAINTEIRA{
    width: 100%;
    margin: 0 auto;
}
.menu ul li{
    width: 50%;
    cursor: pointer;
    display: inline;
    padding: 10px;
    background-color: rgb(71, 26, 112);
    color: white;
}

.formCadastro{
width: 100%;
}

.blocoInfo{
    width: 30%;
    background-color: blueviolet;
    padding: 10%;
}

.blocoInfo Div{
    left: 50%;
}

.blocoInfo label{
    padding: 0 10px 0 0;
    font-size:large;
}

.blocoInfo input{
    width: 250px;
    height: 20px;
}

#CodigoProd label{
    padding: 0 28px 0 0;
}

#NomeReduzido label{
    padding: 0 46px 0 0;
}

#DescricaoProd label{
    padding: 0 85px 0 0;
}

#CategoriaProd label{
    padding: 0 87px 0 0;
}

#ComboCategoria{
    width: 100px;
    height: 20px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#InfoProd label{
    padding: 0 14px 0 0;
}

#InfoProd textarea{
    height: 50px;
    width: 250px;
    overflow:auto;
    box-sizing: border-box;
    resize: none;
}

#Preco input::-webkit-inner-spin-button, 
#Preco input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}