body{
    background-color: rgba(221, 219, 217, 0.623);
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
}
header{
    right: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: rgba(221, 219, 217, 1);
    border: 2px solid #4CAF50;
    
}
#logo{
    position: relative;
    padding-top: 25px;
    padding-left: 25px;
}

.menu{
    margin-top: 0px;
    
}

#menuinicial ul{
    float:right;
    padding:0px;
    margin:0px;
    list-style:none;
    cursor: pointer;
}
#menuinicial ul li {
    display: inline;
    position: relative; 
    float: left;
}

#menuinicial ul li a{
    color: black;
    padding: 2px 10px;
    display: inline-block;
    text-decoration: none;
    border-bottom:3px solid yellow;
    font-weight: bold;
    margin-right: 25px;
}


#objPesquisa{
    padding: 6px;
    margin:3px;
    list-style:none;
}

#objPesquisa ul li{
    display:inline;
    
}

#Burger, #Frango, #Pernil, #Bebidas{
    color: red;
    background-color: #ffffff;
    border: 0;
    padding: 1%;
    font-weight: bold;
    border-radius: 5px;
    width: 15%;
    cursor: pointer;
}

#Burger:hover, #Frango:hover, #Pernil:hover, #Bebidas:hover{
    background-color: red;
    color: white;
}



#search{
    background-color:#EDEDED ;
    padding:1%;
    margin: 0px;
    box-shadow: none;
    border: 0px ;
    border-bottom: 2px solid yellow; 
    float: right;
    width: 30%;
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

.produto{
    margin: 5%;
}

.tituloProduto{
    background-color: tomato;
    text-align: center;
    border-radius: 10px  10px 0 0 ;
    padding: 1% 0 1% 0;
}

.infosProduto{
    background-color: rgb(245, 125, 104);
    text-align: left;
    padding: 2%;
    width: auto;
    overflow:auto;
}

.finalCaixaLanche{
    background-color: tomato;
    border-radius: 0 0 10px 10px;
}

.assinatura{
    background-color: #151516;
    color: turquoise;
    padding-bottom: 15px;
    margin-bottom: 0;
}
.carrinho{
    position:fixed;
    z-index:999;
    left: 46%; 
    bottom: 20px;
    overflow:hidden;
    border: 0;
    padding:12px;
    border-radius: 50%;
    color:red;
    background-color: deepskyblue;
}

.modalLogin{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal{
    background: white;
    width: 60%;
    min-width: 250px;
    max-width: 250px;
    padding: 10px 40px 20px 40px;
    border: 10px solid rgba(250, 246, 8, 0.945);
    position: relative;
    border-radius: 4px;
}

.legendaLogin{
    margin: 10px 0 0 14px;
}

.inputLogin{
    height: 30px;
    border-bottom: rgba(255, 255, 0, 0.123);
    border: solid rgba(255, 255, 0, 0.651);
    padding: 0 2% 0 2%;
    margin: 5%;
}
.userkeyLogin{
    height: 30px;
    border-bottom: rgba(255, 255, 0, 0.123);
    border: solid rgba(255, 255, 0, 0.651);
    padding: 0 2% 0 2%;
    margin: 5%;
}

.botaoLogin{
    width: 50%;
    height: 20%;
    margin: 10px 10px 10px 16px;
    border: none;
    padding: 2%;
    border-radius: 4px;
    background-color: rgba(255, 255, 0, 0.733);
    color: rgb(48, 43, 37);
    font-weight: bolder;
    cursor: pointer;
}

.modalLogin.mostrar{
    display: flex;
}

.fechar{
    position:absolute;
    font-weight: normal;
    font-size: 1.6em;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid white;
    background: rgba(255, 255, 0, 1);
    color: rgb(255, 255, 255);
    cursor: pointer;
}